.btn-h-60 {
  // this class will remove from here later when "Omi mama" will create new size... used in cta section button
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Scroll Bar

* {
  scrollbar-width: thin;
  scrollbar-color: $mercury;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: $mercury;
  border-radius: 46px;
}

.active-item-black {
  color: $primary;
}

.result-view-type {
  a {
    color: map-get($theme-colors, "hit-gray");
    &.active {
      color: map-get($theme-colors, "black-2");
    }
  }
}


.mapBg {
  height: 100vh;
  width: 100%;
  background-color: $blue;
  background: url(../assets/bg.png) no-repeat ;
  background-size: cover;
}